<div class="contacto">
 <div>
            <h2>contacto rapido</h2>
            <form action="/contacto" method="post">
                <p>
                    <label for="">nombre</label>
                    <input type="text"name="nombre">
                </p>
                <p>
                    <label for="">email</label>
                    <input type="text" name="email">
                </p>
                <p>
                    <label for="">telefono</label>
                    <input type="text" name="tel"> 
                </p>
                <p>
                    <label for="">mensaje</label>
                    <textarea name="comentario" id=""></textarea>
                </p>
                <p>
                    <input type="submit" value="Enviar">
                </p>
            </form>
            <p>{{message}}</p>
        </div>
        <div class="datos">
            <h2>Otras vias de comunicacion</h2>
            <p>Tambien puedes contactar con nosotros usando los siguientes medios</p>
            <ul>
                <li>telefono:1434792</li>
                <li>mail</li>
                <li>instagram</li>
                <li>twitter</li>
                <li>whatsapp</li>
            </ul>
        </div>
      </div>