<section class="historia">
            <h2>historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia veritatis magni reprehenderit impedit, labore non alias tempora ex aliquid laboriosam accusantium ab similique ut error blanditiis assumendaquod omnis. Maiores!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente totam debitis porro dolores sequi,voluptate eligendi quaerat? Cupiditate quaerat impedit mollitia quas, consequuntur ut natus ad molestias distinctio vero.</p>
        </section>
        <section class="staff">
            <h2>staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="juan gomez">
                    <h5>juan gomez</h5>
                    <h6>gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat atque iure eos hic sapiente explicabo nostrum, perferendis culpa autem soluta cupiditate voluptatum reiciendis nisi modideleniti nam voluptatibus asperiores provident.</p>
                </div>
            <div class="persona">
                <img src="images/nosotros/nosotros2.jpg" alt="juan gomez">
                <h5>Diana reyes</h5>
                <h6>gerente comercial</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat atque iure eos hic sapiente
                    explicabo nostrum, perferendis culpa autem soluta cupiditate voluptatum reiciendis nisi modideleniti nam voluptatibus asperiores provident.</p> 
            </div>


            <div class="persona">
                <img src="images/nosotros/nosotros3.jpg" alt="juan gomez">
                <h5>roberto zabala</h5>
                <h6>gerente general</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat atque iure eos hic sapiente
                    explicabo nostrum, perferendis culpa autem soluta cupiditate voluptatum reiciendis nisi modideleniti nam voluptatibus asperiores provident.</p> 
            </div>

            <div class="persona">
                <img src="images/nosotros/nosotros4.jpg" alt="juan gomez">
                <h5>sandra mastroloi</h5>
                <h6>gerente general</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat atque iure eos hic sapiente
                    explicabo nostrum, perferendis culpa autem soluta cupiditate voluptatum reiciendis nisi modideleniti nam voluptatibus asperiores provident.</p>        
            </div>

            <div class="persona">
                <img src="images/nosotros/nosotros5.jpg" alt="juan gomez">
                <h5>juan gomez</h5>
                <h6>gerente general</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat atque iure eos hic sapiente
                    explicabo nostrum, perferendis culpa autem soluta cupiditate voluptatum reiciendis nisi modideleniti nam voluptatibus asperiores provident.</p>        
            </div>
        </div>

        </section>