    <h2>Servicios</h2>
       <div class="servicio">
           <img src="images/servicios/aereo.jpg" alt="avion">
           <div class="info">
               <h4>Transportes Aereo</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatum, rerum dicta odit expedita soluta laborum repellat amet maxime ad illo nulla explicabo! Enim numquam ad, magni eos soluta asperiores.</p>
           </div>
       </div>
       <div class="servicio">
        <img src="images/servicios/ferroviario.jpg" alt="avion">
        <div class="info">
            <h4>Transportes ferroviario</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatum, rerum dicta odit expedita soluta laborum repellat amet maxime ad illo nulla explicabo! Enim numquam ad, magni eos soluta asperiores.</p>
        </div>
    </div>
    <div class="servicio">
        <img src="images/servicios/maritimo.jpg" alt="avion">
        <div class="info">
            <h4>Transportes maritimo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatum, rerum dicta odit expedita soluta laborum repellat amet maxime ad illo nulla explicabo! Enim numquam ad, magni eos soluta asperiores.</p>
        </div>
    </div>
    <div class="servicio">
        <img src="images/servicios/terrestre.jpg" alt="avion">
        <div class="info">
            <h4>Transportes terrestre</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatum, rerum dicta odit expedita soluta laborum repellat amet maxime ad illo nulla explicabo! Enim numquam ad, magni eos soluta asperiores.</p>
        </div>
    </div>